<div class="contenedor-slider">
    <!-- Slider main container -->
  <div class="swiper-container py-4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div 
        class="swiper-slide" 
        *ngFor="let image of mainSlider"
        [ngStyle]="{
            'background-size': 'cover',
            'background-image':' url(' + image.imgUrl + ')'
        }"
      >
          <div class="diapositiva">
              <h5>{{image.imgName}}</h5>
          </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
  