/* .top-border {
  background-image: url('/assets/top-border.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.top {
  height: 20px;
  width: 100vw;
}

.menu {
  color: white;
  background-color: #678B1D;
}

.logo {
  background-color: white;
} */

