<div class="container">
  <div class="row text-center">
    <div class="col logo">
      <img src="/assets/logo_500.jpg" alt="la frontera" class="img-fluid w-75 p3">
    </div>
  </div>
</div>
<div class="custom-shape-divider-top-1613572063 contenido">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<div class="container contenido">
  <div class="row">
    <div class="col text-center">
      <h3>APPETIZERS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let appetizer of appetizers">
    <div class="col-8">
      <h6>{{appetizer.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{appetizer.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>TACOS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let taco of tacos">
    <div class="col-8">
      <h6>{{taco.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{taco.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>TORTAS/CEMITAS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let torta of tortas">
    <div class="col-8">
      <h6>{{torta.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{torta.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>QUESADILLAS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let quesadilla of quesadillas">
    <div class="col-8">
      <h6>{{quesadilla.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{quesadilla.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>TOSTADAS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let tostada of tostadas">
    <div class="col-8">
      <h6>{{tostada.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{tostada.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>BURRITOS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let burrito of burritos">
    <div class="col-8">
      <h6>{{burrito.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{burrito.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>SOPES</h3>
    </div>
  </div>
  <div class="row" *ngFor="let sope of sopes">
    <div class="col-8">
      <h6>{{sope.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{sope.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>PLATILLOS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let platillo of platillos">
    <div class="col-8">
      <h6>{{platillo.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{platillo.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>CALDOS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let caldo of caldos">
    <div class="col-8">
      <h6>{{caldo.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{caldo.price}}</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h3>SIDEORDERS</h3>
    </div>
  </div>
  <div class="row" *ngFor="let sideOrder of sideOrders">
    <div class="col-8">
      <h6>{{sideOrder.name}}</h6>
    </div>
    <div class="col-4 text-right">
      <h6>{{sideOrder.price}}</h6>
    </div>
  </div>
</div>

<div class="container footer">
  <div class="row">
    <div class="col-4">
      icon
    </div>
    <div class="col-8">
      direccion
    </div>
  </div>
</div>