/* .top-border {
  background-image: url('/assets/top-border.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.top {
  height: 20px;
  width: 100vw;
}

.menu {
  color: white;
  background-color: #678B1D;
}

.logo {
  background-color: white;
} */

.contenido {
  background-color: #678B1D;
  color: white;
}

.contenido h3 {
  color: yellow;
}

.contenido h5, .extra {
  font-size: 14px;
  font-style: italic;
  color: yellow;
}

.extra {
  color: white;
}

.custom-shape-divider-top-1613572416 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1613572416 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1613572416 .shape-fill {
  fill: #FFFFFF !important;
  color: white !important;
}

.shape-fill {
  fill: white;
}

.custom-shape-divider-bottom-1613582211 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613582211 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1613582211 .shape-fill {
  fill: #FFFFFF;
}

.footer {
  background-color: #202020;
  border-top: 2px groove white;
  color: white;
}

.social img {
  width: 30px;
}

.centered-left{
  width:fit-content;
  text-align: left;
  line-height: 1.7;
  margin: 0 auto;
}

.whatsapp-logo {
  max-width: 50px;
}

.under-footer {
  background-color: #383838;
  color: #bbb;
  font-size: 14px;
  padding: 5px 0;
}

.under-footer a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.iconos {
  color: #678B1D;
}